.header{
    margin-top: -80px;
}


#hero{
    width: auto;
    height: 805px;
    background: url(./hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
    
}

.container{
    max-width: 1140px;
    margin: 0 auto;

}


.btnBox{
    margin-top: 530px;
    transition: 0.3s;

}
.btnBox:hover{
    margin-top: 540px;
    transition: 0.3s;

}

a.downloadButton{
    color: #000000;
    background: #D0F4FD;
    top: 450px;
    margin-left: 560px;
    border-radius: 50px;
    padding: 15px 45px;
    margin-top: 800px;
    text-decoration: none;
    transition: 0.3s;
    outline-style: solid;
    outline-width: 5px;
    outline-color: black;
}

a.downloadButton:hover{
    opacity: 1;
    background: #FEDE80;
    transition: 0.3s;
    color: #DF1B11;
    outline-width: 10px;
    font-size: larger;
    padding: 30px 60px;
    margin-top: 100px;
    margin-left: 545px;

}


