/* header.css */

/* Header Container */
.header {
    background: url(./hero.png);
    padding: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to horizontally center the content */
    flex-direction: column;
    text-align: center;
}

/* Hero Section */
#hero {
    width: 100%; /* Add this line to make #hero section take up the full width */
}

/* Header Text */
.headerItems {
    color: #D0F4FD;
}


.title {
    
    font-size: 6vw;
    font-weight: bold;
    color: #FEDF81;
    text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.info {
    font-size: 4vw;
    text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}
.infoBold{
    color: #D41C25;
}

/* Hero Box */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.heroBox {
    width: auto;
}
  
/* Button Box */
.btnBox {
    margin-top: 1vw; /* Adjust the margin-top as needed */

}
  
.downloadButton {

    display: inline-block;
    padding: 1vw 2vw;
    font-weight: bold;
    color: #000000;
    background: #D0F4FD;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    outline-style: solid;
    outline-width: 5px;
    outline-color: black;
}

.downloadButton:hover {
    opacity: 1;
    background: #FEDE80;
    transition: 0.3s;
    color: #DF1B11;
    outline-width: 10px;
    font-size: larger;
    padding: 30px 60px;
    
}




.top{
    overflow: hidden;
}

.topListItem {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;

    
}

.topListItem:hover {
    background: #FEDE80;
    transition: 0.3s;
    color: #DF1B11;
    font-size: larger;
    padding-top: 1.5vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

.contact{
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
}
.contact:hover{
    background: #FEDE80;
    transition: 0.3s;
    color: #DF1B11;
    font-size: larger;
    padding-top: 1.5vw;
    padding-left: .5vw;
    padding-right: .5vw;
}
  

  