.top{
    height: 80px;
    width: 100%;
    background-color: #4a4a4ad0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Akshar', sans-serif;
    z-index: 500;
    box-shadow: 0px 0px 10px #4f4e4e;
    
    
}

.topLeft{
    height: 200px;
    width: 200px;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 100px;
    width: 400px;
    position: sticky; /* look into changing*/
    
}



.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.topCenter{
    flex: 6;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: whitesmoke;
}


.contact{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contactButton{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: whitesmoke;
}

.link{
    text-decoration: none;
}